<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thank You Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
  <div class="main-content">
    <article class="blog  active" data-page="blog">
    <header>
          <h2 class="h2 article-title">Thank You</h2>
        </header>
    <section class="about-text">
      <p>Thank you for contacting us. We'll get back to you soon!</p>
      <h3 class="h3 service-title"><a href="/">Back to Home Page</a></h3>
    </section>
    </article>
  </div>
  </main>
</body>
</html>

